# Temporary
*.DS_Store
*.swp
*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
*~
TAGS
__pycache__/

# Docs
docs/build/
docs/site/
docs/src/tutorials/
docs/src/generated/
docs/transient_dir/generated/
!docs/src/assets/*.png
!docs/src/assets/*.svg

# Deps
src/**/Manifest.toml

# Data
*.vtk
*.dat
*.vtu
*.pvtu
*.nc
*.jld2
output/

# Figs
*.png
*.jpg
*.jpeg
*.svg

# Movies
*.gif
*.mp4

# Julia System Images
*.so
