# Temporary
*.DS_Store
*.swp
*.jl.cov
*.jl.*.cov
*.jl.mem
*.DS_Store
*~
TAGS

# Docs
docs/build/
docs/site/
docs/src/tutorials/
docs/src/generated/
!docs/src/assets/*.png
!docs/src/assets/*.svg

# Deps
src/**/Manifest.toml

# Data
*.vtk
*.dat
*.vtu
*.pvtu
*.nc

# Figs
*.png
*.jpg
*.jpeg
*.svg

# Julia System Images
*.so
