# Tests to be run by SLURM CI
#
# Each entry specifies the number of MPI ranks to use followed by the file to run

cpu = [
  { file = "test/DGmethods/advection_diffusion/pseudo1D_advection_diffusion.jl", n = 3, args = [] },
]

cpu_gpu = [
  { file = "examples/DGmethods_old/ex_001_periodic_advection.jl", n = 3, args = [] },
  { file = "examples/DGmethods_old/ex_002_solid_body_rotation.jl", n = 3, args = [] },
  { file = "examples/DGmethods_old/ex_003_acoustic_wave.jl", n = 3, args = [] },
  { file = "examples/DGmethods_old/ex_004_nonnegative.jl", n = 3, args = [] },
  { file = "examples/Microphysics/ex_1_saturation_adjustment.jl", n = 3, args = [] },
  { file = "examples/Microphysics/ex_2_Kessler.jl", n = 3, args = [] },
  { file = "test/DGmethods/bandedsystem.jl", n = 3, args = [] },
  { file = "test/DGmethods/Euler/isentropicvortex.jl", n = 3, args = [] },
  { file = "test/DGmethods/Euler/isentropicvortex-imex.jl", n = 3, args = [] },
  { file = "test/DGmethods/Euler/isentropicvortex-multirate.jl", n = 3, args = [] },
  { file = "test/DGmethods/compressible_Navier_Stokes/mms_bc_atmos.jl", n = 3, args = [] },
  { file = "test/DGmethods/compressible_Navier_Stokes/mms_bc_dgmodel.jl", n = 3, args = [] },
  { file = "test/DGmethods/compressible_Navier_Stokes/rising_bubble-model.jl", n = 3, args = [] },
  { file = "test/DGmethods/compressible_Navier_Stokes/rising_bubble-model-imex.jl", n = 3, args = [] },
  { file = "test/DGmethods/compressible_Navier_Stokes/density_current-model.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/Euler/RTB_IMEX.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/Euler/isentropic_vortex_standalone.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/Euler/isentropic_vortex_standalone_IMEX.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/Euler/isentropic_vortex_standalone_aux.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/Euler/isentropic_vortex_standalone_bc.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/Euler/isentropic_vortex_standalone_integral.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/Euler/isentropic_vortex_standalone_source.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/compressible_Navier_Stokes/mms_bc.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/conservation/sphere.jl", n = 3, args = [] },
  { file = "test/DGmethods_old/sphere/advection_sphere_lsrk.jl", n = 2, args = [] },
  { file = "test/DGmethods_old/sphere/advection_sphere_ssp33.jl", n = 2, args = [] },
  { file = "test/DGmethods_old/sphere/advection_sphere_ssp34.jl", n = 2, args = [] },
  { file = "test/LinearSolvers/poisson.jl", n = 2, args = [] },
  { file = "examples/DGmethods/ex_001_dycoms.jl", n = 4, args = [] },
  { file = "test/Ocean/shallow_water/GyreDriver.jl", n = 1, args = [] },
]

gpu = [
  { file = "test/DGmethods/advection_diffusion/pseudo1D_advection_diffusion.jl", n = 3, args = ["true"] },
  # this test times out; re-enable after fixing
  #{ file = "test/DGmethods/compressible_Navier_Stokes/rayleigh-benard_model.jl", n = 3, args = [] },
  { file = "examples/Atmos/heldsuarez.jl", n = 3, args = [] },
]

