# Tests to be run by SLURM CI
#

cpu = [
  { file = "test/Numerics/DGMethods/advection_diffusion/advection_diffusion_model_1dimex_bgmres.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion_1dimex.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion_mrigark_implicit.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/advection_diffusion/pseudo1D_heat_eqn.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/advection_diffusion/periodic_3D_hyperdiffusion.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/compressible_Navier_Stokes/ref_state.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Numerics/Mesh/mpi_connect_1d.jl", slurmargs = ["--ntasks=5"], args = [] },
  { file = "test/Numerics/Mesh/mpi_connect_sphere.jl", slurmargs = ["--ntasks=5"], args = [] },
  { file = "test/Numerics/Mesh/mpi_getpartition.jl", slurmargs = ["--ntasks=5"], args = [] },
  { file = "test/Numerics/Mesh/mpi_sortcolumns.jl", slurmargs = ["--ntasks=4"], args = [] },
  { file = "test/Numerics/ODESolvers/ode_tests_convergence.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Land/Model/haverkamp_test.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Land/Model/test_bc.jl", slurmargs = ["--ntasks=1"], args = [] },
]

cpu_gpu = [
  { file = "test/Arrays/varsindex.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Diagnostics/diagnostic_fields_test.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/vars_test.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Numerics/DGMethods/remainder_model.jl", slurmargs = ["--ntasks=2"], args = [] },
  { file = "test/Numerics/DGMethods/Euler/isentropicvortex.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/Euler/isentropicvortex_imex.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/Euler/isentropicvortex_multirate.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/Euler/isentropicvortex_mrigark.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/Euler/isentropicvortex_mrigark_implicit.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/Euler/acousticwave_1d_imex.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/Euler/acousticwave_mrigark.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/compressible_Navier_Stokes/mms_bc_atmos.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/compressible_Navier_Stokes/mms_bc_dgmodel.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/compressible_Navier_Stokes/density_current_model.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/advection_diffusion/direction_splitting_advection_diffusion.jl", slurmargs = ["--ntasks=3"], args = ["--fix-rng-seed"] },
  { file = "test/Numerics/DGMethods/conservation/sphere.jl", slurmargs = ["--ntasks=3"], args = ["--fix-rng-seed"] },
  { file = "test/Numerics/DGMethods/advection_diffusion/advection_sphere.jl", slurmargs = ["--ntasks=2"], args = [] },
  { file = "test/Driver/gcm_driver_test.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Numerics/SystemSolvers/poisson.jl", slurmargs = ["--ntasks=2"], args = [] },
  { file = "test/Numerics/SystemSolvers/columnwiselu.jl", slurmargs = ["--ntasks=1"], args = []},
  { file = "test/Numerics/SystemSolvers/bandedsystem.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/Mesh/interpolation.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Ocean/ShallowWater/GyreDriver.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Ocean/HydrostaticBoussinesq/test_windstress_short.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Ocean/HydrostaticBoussinesq/test_ocean_gyre_short.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Ocean/ShallowWater/test_2D_spindown.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Ocean/HydrostaticBoussinesq/test_3D_spindown.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Ocean/SplitExplicit/test_vertical_integral_model.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Ocean/SplitExplicit/test_spindown_long.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Ocean/SplitExplicit/test_restart.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "tutorials/Numerics/DGMethods/nonnegative.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Atmos/Parameterizations/Microphysics/KM_saturation_adjustment.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Atmos/Parameterizations/Microphysics/KM_warm_rain.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Atmos/Parameterizations/Microphysics/KM_ice.jl", slurmargs = ["--ntasks=3"], args = [] },
]

gpu = [
  { file = "test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion.jl", slurmargs = ["--ntasks=3"], args = ["--integration-testing"] },
  { file = "test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion_1dimex.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/advection_diffusion/pseudo1D_advection_diffusion_mrigark_implicit.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Numerics/DGMethods/advection_diffusion/pseudo1D_heat_eqn.jl", slurmargs = ["--ntasks=3"], args = ["--integration-testing"] },
  { file = "test/Numerics/DGMethods/advection_diffusion/periodic_3D_hyperdiffusion.jl", slurmargs = ["--ntasks=3"], args = ["--integration-testing"] },
  { file = "tutorials/Atmos/dry_rayleigh_benard.jl", slurmargs = ["--ntasks=1"], args = ["--fix-rng-seed"] },
  { file = "tutorials/Atmos/risingbubble.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "experiments/AtmosGCM/heldsuarez.jl", slurmargs = ["--ntasks=1"], args = ["--diagnostics=default", "--fix-rng-seed"] },
  { file = "experiments/AtmosGCM/baroclinic-wave.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "experiments/AtmosGCM/nonhydrostatic-gravity-wave.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "experiments/AtmosGCM/isothermal-zonal-flow.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "experiments/AtmosLES/surfacebubble.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "experiments/AtmosLES/dycoms.jl", slurmargs = ["--ntasks=3"], args = ["--fix-rng-seed"] },
  { file = "experiments/AtmosLES/bomex.jl", slurmargs = ["--ntasks=1"], args = ["--diagnostics=default", "--fix-rng-seed"] },
  { file = "experiments/AtmosLES/schar_scalar_advection.jl", slurmargs = ["--ntasks=1"], args = [] },
  { file = "test/Ocean/HydrostaticBoussinesq/test_windstress_long.jl", slurmargs = ["--ntasks=3"], args = [] },
  { file = "test/Ocean/HydrostaticBoussinesq/test_ocean_gyre_long.jl", slurmargs = ["--ntasks=3"], args = [] },
]
