name: Coverage

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run at 2am every day:
    - cron:  '0 2 * * *'

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.2.0

    - name: Set up Julia
      uses: julia-actions/setup-julia@latest
      with:
        version: 1.6.0
   
    - name: Test with coverage
      run: |
        julia --project -e 'using Pkg; Pkg.instantiate()'
        julia --project -e 'using Pkg; Pkg.test(coverage=true)'

    - name: Generate coverage file
      run: julia --project -e 'using Pkg; Pkg.add("Coverage");
                               using Coverage;
                               LCOV.writefile("coverage-lcov.info", Codecov.process_folder())'
      if: success()

    - name: Submit coverage
      uses: codecov/codecov-action@v1.0.7
      with:
        token: ${{secrets.CODECOV_TOKEN}}
      if: success()