name: Documentation

on:
  pull_request:
    paths:
      - 'docs/**'
      - 'tutorials/**'
      - 'src/**'
      - 'Project.toml'
      - 'Manifest.toml'

jobs:
  docs-build:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2.2.0
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get -qq install libxt6 libxrender1 libxext6 libgl1-mesa-glx libqt5widgets5 xvfb

      - uses: julia-actions/setup-julia@latest
        with:
          version: 1.6.0

      # https://discourse.julialang.org/t/recommendation-cache-julia-artifacts-in-ci-services/35484
      - name: Cache artifacts
        uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-

      - name: Install Julia dependencies
        env:
          JULIA_PROJECT: "docs/"
        run: |
          julia --project -e 'using Pkg; Pkg.instantiate()'
          julia --project=docs/ -e 'using Pkg; Pkg.instantiate()'
          julia --project=docs/ -e 'using Pkg; Pkg.precompile()'
      - name: Build and deploy
        # Run with X virtual frame buffer as GR (default backend for Plots.jl) needs
        # an X session to run without warnings
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          XDG_RUNTIME_DIR: "/home/runner"
          JULIA_PROJECT: "docs/"
          CLIMATEMACHINE_DOCS_GENERATE_TUTORIALS: "false"
          ClIMATEMACHINE_SETTINGS_DISABLE_GPU: "true"
          CLIMATEMACHINE_SETTINGS_DISABLE_CUSTOM_LOGGER: "true"
          CLIMATEMACHINE_SETTINGS_FIX_RNG_SEED: "true"
        run: xvfb-run -- julia --project=docs/ --color=yes docs/make.jl
      - name: Help! Documenter Failed
        run: |
          cat .github/workflows/doc_build_common_error_messages.md
        if: failure()
