name: JuliaFormatter

on: [pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - run: git fetch origin
    - uses: julia-actions/setup-julia@latest
      with:
        version: 1.3
    - name: Apply JuliaFormatter
      run: |
        julia --project=.dev .dev/climaformat.jl .
    - name: Check formatting diff
      run: |
        git diff --color=always --exit-code
